#stateImg {
  width: 10rem;
  height: 20rem;
  image-rendering: pixelated;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
  background: url(./assets/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.border {
  border: solid black 1rem;
  padding: 1rem;
}

.red {
  color: red;
}

.green {
  color: green;
}

#hiddenInput {
  visibility: hidden;
  height: 0;
  width: 0;
}
